.icon-bar{
    width: 100%; /* full bredde */
    background-color: #555; /* Mørke grå bakgrunn */
    overflow: auto; /* Overløp på grunn av fløting*/
  }
  
  .icon-bar a{
    float: left; /* Flytende lenker side ved side */
    text-align: center; /* Senterert tekst */
    width: 20%; /* bredde */
    padding: 12px 0; /* Noe topp- og bunnpolstring */
    color: rgb(242, 237, 237); /* tekst fargen */
    font-size: 31px; /* skriftstørrelse */
  }
  
  .icon-bar a:hover{
    background-color: #000; /* Legg til farge */
  }

  .Uten farge{
    color: #2a3c73; /* farge til under oversikten */
  }

  .bunn{
    width: 100%; /* full bredde */
    display: flex; /* Flex kan bygge en dimensjons layout som er bedre enn flytebasert layout */
    padding: 15px; /* oksmodellen og skaper rom rundt innholdet til et elementer, definerte marger */
    text-align: left; /* Hvor plassere teksten */
    flex-direction: column; /* tabell retning kolonne */
    background: linear-gradient(to top right, #a5a2a2, #41403f); /* bakgrunnsfarge footer */
  }
